.admin{
	height: 100%;
	width:100%;
	position: fixed;
	left:0;
	top:0;
}
.admin .ant-layout{
	height:100%
}
.admin .ant-tabs{
	overflow:visible;
}
.admin .ant-tabs-content .ant-tabs-content-no-animated{
	position: fixed;
	height:100%;
	width:100%;
}
.moveup{
    animation:moveup 1s ease-in-out ;
    -webkit-animation:moveup 1s ease-in-out;
}
@keyframes moveup{
    from{
        opacity: 0;
        transform:translate3d(0,10px,0);
        -webkit-transform:translate3d(0,10px,0);
    }
    to{
        opacity: 1;
        transform:translate3d(0,0,0);
        -webkit-transform:translate3d(0,0,0);
    }
}
@-webkit-keyframes moveup{
    from{
        opacity: 0.2;
        transform:translate3d(0,10px,0);
        -webkit-transform:translate3d(0,10px,0);
    }
    to{
        opacity: 1;
        transform:translate3d(0,0,0);
        -webkit-transform:translate3d(0,0,0);
    }
}