.todolist{
	width:500px;
	margin:20px auto;
}
.todolist .form{
	display: -webkit-flex;
	justify-content:space-between;
}
.todolist input{
	width:400px;
	height:40px;
}
.todolist button{
	width: 50px;
	height:40px;
}
.todolist ul{
	width:400px;
}
.todolist ul li{
	width:100%;
	
	display: -webkit-flex;
	justify-content:space-around;
}
.todolist ul li span, .todolist ul li a{
	display: block;
	cursor: pointer;
	padding:10px 20px;
}
.todolist .footer{
	width:400px;
	text-align: center;
}